<h1>WLCSC Summer Workshops</h1>

<div class="row">
  <div class="col-md-4">
    <a class="btn btn-info btn-block" href="electronics/">
      <i class="fa fa-lightbulb-o fa-5x"></i>
      <p>Digital Electronics Workshop</p>
    </a>
  </div>

  <div class="col-md-4">
    <a class="btn btn-info btn-block" href="ruby/">
      <i class="fa fa-desktop fa-5x"></i>
      <p>Ruby Programming Workshop</p>
    </a>
  </div>

  <div class="col-md-4">
    <a class="btn btn-info btn-block" href="web/">
      <i class="fa fa-globe fa-5x"></i>
      <p>Web Design Workshop</p>
    </a>
  </div>
</div>
